# $OpenBSD: dot.profile,v 1.7 2020/01/24 02:09:51 okan Exp $
#
# sh/ksh initialization

export PATH HOME TERM


# niceness
export PATH=$HOME/app/venv/bin:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin

# note: with supervisord i think maybe this isn't used -- it's all in /etc/supervisord.d/[thing].ini

# app config
export DATABASE_URL=sqlite:////var/commit--store/db.sqlite3
export GIT_REPO_DIR=/var/commit--store/repos
export GITHUB_CLIENT_ID=
export GITHUB_CLIENT_SECRET=
export SECRET_KEY=
export SERVER_NAME=commit--blog.com

# error monitoring
export NEW_RELIC_APP_NAME=commit--blog
export NEW_RELIC_LICENSE_KEY=
